 /*Start Header*/
.start {
  background-color: #00403fd6;
  & .container {
    position: relative;
  }
  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    @media (max-width:991px){
      height: fit-content;
        flex-direction: column;
        justify-content: center;
    }
    & ul li:not(:first-child) {
      @include media(small){
        margin-left: 10px;
      }
    }
    & ul li{
      @include media(mobile){
        margin-left: 10px;
      }
    }
    & .border-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 100px;
      height: 70px;
      border: 1px solid #fff;
      border-radius: 10px;
      flex-basis: 85%;
      text-transform: uppercase;
      @media (max-width: 991px){
        gap: 10px;
        width: 100%;
      }
    }
    & .contact {
      flex-basis: 15%;
      background-color: black;
      color: white;
      height: 70px;
      border-radius: 10px;
      @include centering;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      @media (max-width:991px) {
        &{
          position: relative;
          top: 5px;
          padding: 15px;
        }
      }
    }
    .logo{
      width: 70px;
      height: 70px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      & img{
        max-width: 100%;
      }
    }
    ul {
      flex-basis: 65%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 991px) {
        & {display: none}
      }
      & i{
        width: 25px;
        height: 25px;
        border: 2px solid #000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @media (min-width: 991px){
          & {display:none}
        }
      }
      & li a{color:white}
    }
    & .bars{
      display: block;
      display: flex;
      align-items: flex-end;
      justify-content: end;
      @media (max-width:991px) {
        & {
          flex-basis: 10%;
        }
      }
    }
     & i{
      font-size: 20px;
      cursor: pointer;
      @media (min-width: 991px){display:none}
     }
     & .search{
      flex-basis: 20%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-left: 1px solid white;
      color: white;
      font-weight: bold;
      cursor: pointer;
      @media (max-width:991px) {
        & {
          flex-basis: 80%;
          border: none;
          justify-content: center;
        }
        & p {margin-left: 20px;}
      }
      & input {
        width: 100%;
        background-color: inherit;
        caret-color: white;
        padding: 10px 0;
        outline: none;
        display: none;
        color: white;
      }
     }
    //End (header) section
  }
    & .content{
      display: flex;
      gap: 5%;
      margin-top: 30px;
      @include media(small){
        &{
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      @include media(mobile) {
        & {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      & .box{
        color: #fbe5ff;
        &:first-child {
          flex-basis: 15%;
          @include media(small){&{text-align: center}};
          @include media(mobile){&{text-align: center}};
          & p{margin-bottom: 30px;}
          & a{
            text-decoration: underline;
            text-transform: uppercase;
            font-size: 13px;
            color: inherit;
          }
        }
        &:nth-child(2){
          flex-basis: 50%;
          & p{
            margin: 0;
            margin-top: -20px;
            font-size: 100px;
            font-weight: 300;
            color: #fffb78;
            word-spacing: 10px;
            letter-spacing: 2px;
            @include media(small){
              &{
                font-size: 70px;
                font-weight: 500px;
                word-spacing: 5px;
                margin-top: 40px;
              }
            }
            @include media (mobile){
              &{
                font-size: 40px;
                font-weight: 500px;
                word-spacing: 5px;
                margin-top: 40px;
              }
            }
          }
        }
        &:nth-child(3){
          flex-basis: 30%;
          display: flex;
          height: fit-content;
          background-color: #016972;
          padding: 10px 10px 0;
          border-radius: 10px;
          @include media(small){
            &{
              margin-top: 40px;
              width: 200px;
              flex-basis: 130px;
            }
          }
          @include media(mobile){
            &{
              margin-top: 40px;
              width: 200px;
              flex-basis: 130px;
            }
          }
          & .text{
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            @include media(small){
              &{
                justify-content: start;
                gap: 50px;
              }
            }
            @include media(mobile){
              &{
                justify-content: start;
                gap: 50px;
              }
            }
          }
          & .image{
            flex-basis: 70%;
            & img{max-width:100%}
          }
        }
      }
    }
  //End (start) section
}
/*End Header*/