/*Start Tree Page*/
.tree {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  border-bottom: 1px solid #1C2022;
  position: relative;
  overflow: hidden;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fafafac4;
    z-index: -1;
  }
  & .all {display: flex;}
  & .content {
    flex-basis: 60%;
    @media(max-width:991px) {
        flex-basis: 100%;
    }
    & h4{
      font-size: 1.5rem;
      font-weight: bolder;
      letter-spacing: 5px;
      margin-bottom: 20px;
    }
    & > p{
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 3rem;
    }
    & .check{
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 3rem;
      & input[type="checkbox"]{
        min-width: 27px;
        min-height: 27px;
        background-color: #3E54A3;
        position: relative;
        margin-left: 5px;
        &::before{
        content: '';
          position: absolute;
          border: 5px solid #0075ff;
          width: 22px;
          height: 22px;
          left: -3.5px;
          top: -3.5px;
        }
      }
      & label{
        color: #564C4C;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  & .image-tree{
    flex-basis: 40%;
    text-align: right;
    @media(max-width:991px) {display: none;}
    & img{
      max-width: 100%;
      width: 100%
    }
  }
  & .form{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    @media(max-width:991px) {flex-direction: column;}
    & input[type="email"]{
      flex-basis: 70%;
      background: none;
      border: 1px solid #00403f;
      outline: none;
      padding: 10px;
      caret-color: white;
      height: 50px;
      position: relative;
      &::placeholder{
        color: #757575;
        font-size: 1.8rem;
      }
      &:focus{
        border: 1px solid #00403f;
        outline: 5px dotted #9F9CBF;
      }
    }
    & input[type="submit"]{
      padding: 10px 30px;
      height: 50px;
      flex-basis: 10%;
      border-radius: 30px;
      outline: none;
      border: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      font-style: italic;
      font-weight: bold;
      color: #fff;
      background-color: #ED2C49;
      transition: all .5s;
      cursor: pointer;
      @media(max-width:991px) {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
      }
      &:hover{ transform: scale(1.02);}
    }
  }
}
/*End Tree Page*/